@use "variables";

.section-featured {
    .container {
        max-width: 1200px;
        margin: 0 auto;

        .row-filters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            p {
                color: variables.$colorOrange;
                font-size: 14px;
                font-weight: 500;
                display: flex;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 1px;
                        background: #F59E0B;
                    }
                }

            }

            h3 {
                color: #1B1C57;
                font-size: 32px;
                font-weight: 600;
                margin-left: 40px;
            }

            .categorries-house {
                display: flex;
                align-items: center;
                gap: 8px;

                .btn-house {
                    padding: 12px 24px;
                    border-radius: 32px;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #888B97;                  

                    p {
                        font-size: 18px;
                        font-weight: 500;
                        color: #888B97;
                    }

                    &:hover {
                        background-color: #D1FAE5;

                        p {
                          color: variables.$colorDarkGreen; ;  
                        }

                        span {
                            i {
                               color: variables.$colorDarkGreen; ; 
                            }
                        }
                    }

                    span {
                        margin-right: 10px;
                        
                        i {
                            width: 18px;
                            height: 19px;
                            display: flex;
                            align-items: center;
                            color: #888B97;
                        }
                    }
                }
            }

            .arrows {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .arrow {
                width: 60px;
                height: 52px;
                border-radius: 32px; 

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .arrow-one {
                background-color: #E0E3EB;
            }

            .arrow-two {
                background-color: variables.$colorDarkGreen;
            }
        }

        .row-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            margin-left: 40px;

            .box-card {
                position: relative;

                .box-image {
                    margin-bottom: 30px;
                }
            }

            .box-tag {
                display: flex;
                justify-content: center;
                gap: 15px;
                position: absolute;
                top: 332px;
                left: 16px;
                padding: 8px 16px;
                border-radius: 32px;

                i {
                    width: 11px;
                    height: 12px;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                }

                .fa-fire {
                    color: #EF4444;
                }

                .fa-house {
                    color: #1D4ED8;
                }

                .fa-wallet {
                    color: #047857;
                }
            }

            .box-tag-fire {
                background-color: #FEE2E2;
                color: #EF4444;
            }

            .box-tag-house {
                background-color: #DBEAFE;
                color: #1D4ED8;
            }

            .box-tag-wallet {
                background-color: #D1FAE5;
                color: #047857;
            }

            .box-details {
                
                h4 {
                    font-size: 24px;
                    font-weight: 500;
                    color: #0E1735;
                    padding-bottom: 10px;
                }

                h5 {
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #3C4563;
                }
            }

            .box-seller {
                display: flex;
                gap: 20px;

                h5 {
                    padding-bottom: 3px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #0E1735;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #888B97;
                }
            }
        }
    }
}