@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
}

header .container {
  max-width: 1500px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  background: linear-gradient(148deg, #4BE4C9 -15%, rgba(12, 21, 55, 0) 35%);
}
header .box1 {
  width: 780px;
}
header .box1 .rectangle1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 320px;
  top: 45px;
  background: #F59E0B;
  border-radius: 4px 4px 24px 4px;
}
header .box1 .rectangle2 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 324px;
  top: 49px;
  background: #4BE4C9;
  border-radius: 4px 4px 24px 4px;
}
header .box1 .logo-hunter {
  font-size: 20px;
  display: flex;
  color: #1B1C57;
}
header .box1 .logo-hunter p {
  position: absolute;
  width: 67px;
  height: 20px;
  left: 368px;
  top: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: #1B1C57;
}
header .box1 .find-the-place {
  margin: 150px auto 0 auto;
  width: 496px;
  height: 150px;
}
header .box1 .header-findPlace {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #1B1C57;
}
header .box1 .eveytihingNeed {
  width: 496px;
  height: 56px;
  margin: 30px auto 0 auto;
}
header .box1 .eveytihingNeed p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
}
header .box1 .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 4px 4px 24px;
  margin: 50px auto 0 auto;
  gap: 16px;
  width: 496px;
  height: 56px;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
}
header .box1 .location-dot {
  width: 18px;
  height: 32px;
  position: absolute;
  top: 457px;
}
header .box1 .fa-location-dot {
  font-size: 20px;
  color: #F59E0B;
}
header .box1 .wantSearch {
  width: 303px;
  height: 22px;
  margin-left: 40px;
}
header .box1 .wantSearch p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}
header .box1 .btn-search {
  width: 109px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  gap: 4px;
  background: #10B981;
  color: #fff;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
header .box1 .partnership {
  width: 120px;
  height: 32px;
  margin-top: 20px;
  margin-left: 150px;
}
header .box1 .partnership p {
  color: #888B97;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
header .box1 .partnerships-logo {
  margin-top: 30px;
  margin-left: 150px;
  display: flex;
  gap: 20px;
}
header .box1 .partnership-logo {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .box1 .partnership-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navigation {
  display: flex;
  gap: 150px;
  width: 720px;
  height: 720px;
  background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%), url("https://www.realestate.com.au/blog/images/2000x1500-fit,progressive/2022/06/08163131/31A3885.png");
  background-size: cover;
  border-radius: 0px 0px 0px 80px;
}
header .navigation .lists-nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 24px;
}
header .navigation .list-nav-item {
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}
header .navigation .list-nav-item .active-nav {
  color: #F0F3FD;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
header .navigation .button-sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  background-color: #D1FAE5;
  color: #047857;
  border: 1px solid #fff;
  border-radius: 32px;
  position: absolute;
  width: 107px;
  height: 46px;
  left: 1500px;
  top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.section-featured .container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-featured .container .row-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section-featured .container .row-filters p {
  color: #F59E0B;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.section-featured .container .row-filters p span {
  display: flex;
  align-items: center;
}
.section-featured .container .row-filters p span img {
  width: 32px;
  height: 1px;
  background: #F59E0B;
}
.section-featured .container .row-filters h3 {
  color: #1B1C57;
  font-size: 32px;
  font-weight: 600;
  margin-left: 40px;
}
.section-featured .container .row-filters .categorries-house {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section-featured .container .row-filters .categorries-house .btn-house {
  padding: 12px 24px;
  border-radius: 32px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #888B97;
}
.section-featured .container .row-filters .categorries-house .btn-house p {
  font-size: 18px;
  font-weight: 500;
  color: #888B97;
}
.section-featured .container .row-filters .categorries-house .btn-house:hover {
  background-color: #D1FAE5;
}
.section-featured .container .row-filters .categorries-house .btn-house:hover p {
  color: #10B981;
}
.section-featured .container .row-filters .categorries-house .btn-house:hover span i {
  color: #10B981;
}
.section-featured .container .row-filters .categorries-house .btn-house span {
  margin-right: 10px;
}
.section-featured .container .row-filters .categorries-house .btn-house span i {
  width: 18px;
  height: 19px;
  display: flex;
  align-items: center;
  color: #888B97;
}
.section-featured .container .row-filters .arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-featured .container .row-filters .arrow {
  width: 60px;
  height: 52px;
  border-radius: 32px;
}
.section-featured .container .row-filters .arrow span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-featured .container .row-filters .arrow-one {
  background-color: #E0E3EB;
}
.section-featured .container .row-filters .arrow-two {
  background-color: #10B981;
}
.section-featured .container .row-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-left: 40px;
}
.section-featured .container .row-cards .box-card {
  position: relative;
}
.section-featured .container .row-cards .box-card .box-image {
  margin-bottom: 30px;
}
.section-featured .container .row-cards .box-tag {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 332px;
  left: 16px;
  padding: 8px 16px;
  border-radius: 32px;
}
.section-featured .container .row-cards .box-tag i {
  width: 11px;
  height: 12px;
}
.section-featured .container .row-cards .box-tag p {
  font-size: 16px;
  font-weight: 500;
}
.section-featured .container .row-cards .box-tag .fa-fire {
  color: #EF4444;
}
.section-featured .container .row-cards .box-tag .fa-house {
  color: #1D4ED8;
}
.section-featured .container .row-cards .box-tag .fa-wallet {
  color: #047857;
}
.section-featured .container .row-cards .box-tag-fire {
  background-color: #FEE2E2;
  color: #EF4444;
}
.section-featured .container .row-cards .box-tag-house {
  background-color: #DBEAFE;
  color: #1D4ED8;
}
.section-featured .container .row-cards .box-tag-wallet {
  background-color: #D1FAE5;
  color: #047857;
}
.section-featured .container .row-cards .box-details h4 {
  font-size: 24px;
  font-weight: 500;
  color: #0E1735;
  padding-bottom: 10px;
}
.section-featured .container .row-cards .box-details h5 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #3C4563;
}
.section-featured .container .row-cards .box-seller {
  display: flex;
  gap: 20px;
}
.section-featured .container .row-cards .box-seller h5 {
  padding-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
  color: #0E1735;
}
.section-featured .container .row-cards .box-seller p {
  font-size: 14px;
  font-weight: 500;
  color: #888B97;
}/*# sourceMappingURL=style.css.map */